name: Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  MODULE_NAME: 'mountify'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 2

    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 'latest'

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 'latest'
        cache: 'pnpm'
        cache-dependency-path: webui/pnpm-lock.yaml

    - name: Build webui
      run: |
        cd webui
        pnpm install --frozen-lockfile
        pnpm run build

    - name: Set variables
      run: |
        VERSION=$(jq -r .version update.json)
        COMMIT_ID=$(git rev-parse --short HEAD)
        echo "ZIP_NAME=${{ env.MODULE_NAME }}_${VERSION}-${COMMIT_ID}" >> $GITHUB_ENV

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: ${{ env.ZIP_NAME }}
        path: 'module'
